body{
    font-family: poppins,arial;
   
}

.wrapper{
    min-height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: auto;
    padding: 10px 10px;
}
.title{
    margin-bottom: -20px;
    font-size: 28px;
    color: white;
    font-weight: 500;
    
}

.count{
    margin-bottom: -40px;
    color: white;
    font-weight: 700;
    font-size: 150px;
}
button{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}


.save-btn{
    background-color: black;
    color: white;
    border: 1px solid white;
    
}

p{
    margin:0;
}


.saved-data{
    color:white;
}